<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>myBondhu Email confirmation Page</title>
    <link rel="stylesheet" href="./confirm.css" >
</head>

<body>
    <h3>Hello {{{Name}}}, </h3>
    <div>
        <p>
            Your Email {{{Email}}} has been verified with us you can now login to your account by visiting our website.
        </p>
    </div>
    <a href="http://localhost:3000" class="link">
        <button id="button">Click here to go to our website</button>
    </a>
</body>

</html>