#button
{
    background-color: blue;
    color: #ffffff;
    border: 0;
    padding: 1%;
    border-radius: 15px;
    box-shadow: lightgray 5px 5px 8px 6px;
}
.link
{
    display: flex;
    justify-content: center;
    text-decoration: none;
}