<div class="confirmed">
        <div class="confirmed__icon">
            <img src="/undraw_subscribe_vspl.svg" alt="letter">
        </div>
        <div class="confirmed__text">
            <h1>Hello {{{Name}}} </h1>
            <div>
                <p>Your account having a mail address: <strong> {{{Email}}} <strong/> could not be created.</p>
                <p>Please try again creating your account by clicking the buttopn below</p>
            </div>
            <a href="https://www.mybondhu.in" style="text-decoration: none;">
                <button>Click Here</button>
            </a>
        </div>
    </div>