<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmed</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.css" type='text/css'>
</head>

<body>
    <div class="confirmed">
        <div class="confirmed__icon">
            <img src="/undraw_subscribe_vspl.svg" alt="letter">
        </div>
        <div class="confirmed__text">
            <h1>Hello {{{Name}}} </h1>
            <div>
                <p>Your mail <strong> {{{Email}}} <strong/> has been confirmed.</p>
                <p>Click the button below to visit our website and login to access your account</p>
            </div>
            <a href="https://www.mybondhu.in" style="text-decoration: none;">
                <button>Click Here</button>
            </a>
        </div>
    </div>
</body>

</html>