
    <div class="confirmed">
        <div class="confirmed__icon">
            <img src="/undraw_subscribe_vspl.svg" alt="letter">
        </div>
        <div class="confirmed__text">
            <div>
                <p>Your Password for account having mail address {{{Email}}}, has been changed</p>
                <p>Click the button below to visit our website and login to access your account</p>
            </div>
            <a href="https://www.mybondhu.in/login" style="text-decoration: none;">
                <button>Click Here</button>
            </a>
        </div>
    </div>
